@import url(https://fonts.bunny.net/css?family=aclonica:400|benne:400);

:root {
    font-size: 12px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    position: fixed;
    
    display: flex;

    background-color: #e5e5f7;
    background: linear-gradient(135deg, #bcb5b455 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #bcb5b4 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #bcb5b455 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #bcb5b4 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

header {
    width: 20%;
    height: auto;
    padding: 1rem 2rem;

    position: sticky;
}

header div:first-child {
    margin: 0rem 2rem;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

img.logo {
    height: 20rem;
}

.navButtons {
    font-size: 3.5rem;
    height: 5rem;

    font-family: 'Aclonica', sans-serif;
    background-color: black;
    color: white;
    outline: none;
    border: none;

    cursor: pointer;
}

.bodyPage {
    display: none;

    overflow: scroll;

    flex-direction: column;
    align-items: center;
    gap: 3rem;

    padding: 3rem 0;
    width: 100%;
    height: 100%;

    font-size: 2rem;
    line-height: 1.75;
    text-indent: 2rem;
    text-align: justify;

    font-family: 'Benne', serif;

    background-color: aliceblue;
    box-shadow: -0.25rem 0 0.5rem rgba(0, 0, 0, 0.20);
}

.bodyPage.visible {
    display: flex;
}

.bodyPage h1, .bodyPage h2:not(.core h2) {
    text-indent: 0;
    text-align: center;

    font-family: 'Aclonica', sans-serif;
}

.bodyPage h1 {
    font-size: 8rem;
    margin-top: 2rem;
    line-height: 70%;
}

.bodyPage h2:not(.core h2) {
    font-size: 4rem;
    margin: 2rem 0;
    line-height: 70%;
}

.bodyPage p {
    padding: 0 6rem;
}

img.hero {
    height: 40%;
    width: 100%;

    object-fit: cover;
    object-position: 0 80%;
    filter: contrast(90%) saturate(80%) brightness(105%);
    box-shadow: 0 0.75rem 0.5rem rgba(0, 0, 0, 0.20);

    user-select: none;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 0rem 1.5rem;  
}

.menu .core {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 80%;
    border-left: 3px solid gray;
    background-color: rgba(120, 120, 120, 0.05)
}

span.emp {
    font-style: italic;
}

span.str, .dataHeader, .guestName {
    font-weight: bold;
}

.core p {
    padding: 0rem 3rem;
}

.testimonialCollection {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    gap: 0.5rem;

    padding: 0 3rem;
}

.testimonialBox {
    font-size: 80%;
    padding: 1rem;
}

.guestComment {
    font-style: italic;
}

.guestData {
    display: flex;
    flex-direction: column;
    gap: 0.10rem;

    text-align: right;
}

.guestName::before {
    content: "— ";
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;

    width: 60%;
}

.formFragment {
    display: flex;
    gap: 1.5rem;
}

.formFragment.center {
    justify-content: center;
}

.contactForm label {
    margin: 0;
    font-weight: bold;
}

.contactForm input[type="email"],
.contactForm input[type="text"],
.contactForm textarea {
    font-size: 1.75rem;
    font-family: 'Arial', sans-serif;
    background-color: white;
    outline: none;
    border: 1px solid darkslategray;
    border-radius: 0.50rem;

    padding: 0.5rem;  
}

.contactForm input[type="email"],
.contactForm input[type="text"] {
    height: 3rem;
}

.contactForm input[type="checkbox"] {
    width: 2rem;
    height: 2rem;

    position: relative;
    top: 0.5rem;
    left: 2rem;
}

.contactForm textarea {
    resize: vertical;
    width: 100%;
    min-height: 10rem;
    max-height: 30rem;
}

label[for="tos"] {
    font-weight: normal;
}

button[type="submit"] {
    height: 4rem;
    padding: 0 2rem;

    font-size: 3rem;

    outline: none;
    border: none;

    background-color: black;
    color: white;

    font-family: 'Aclonica', 'Arial', sans-serif;
    font-variant: small-caps;
}