@import url(https://fonts.bunny.net/css?family=aclonica:400|benne:400);

:root {
    font-size: 12px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    background-color: aliceblue;
}

header {
    width: 20%;
    padding: 1rem 2rem;
}

header div:first-child {
    margin: 0rem 2rem;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.navButtons {
    font-size: 3.5rem;
    height: 5rem;

    font-family: 'Aclonica', sans-serif;
    background-color: black;
    color: white;
    outline: none;
    border: none;

    cursor: pointer;
}

.bodyPage {
    display: none;
    padding: 0rem 6rem;
    width: 100%;
    font-size: 2rem;
    line-height: 1.75;
    text-indent: 2rem;
    text-align: justify;

    font-family: 'Benne', serif;
}

.bodyPage.visible {
    display: block;
}

.bodyPage h1 {
    font-size: 4rem;
    text-indent: 0;
    text-align: center;

    font-family: 'Aclonica', sans-serif;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.menu .core {
    font-size: 80%;
}

span.emp {
    font-style: italic;
}

span.str {
    font-style: bold;
}