@import url(https://fonts.bunny.net/css?family=aclonica:400|benne:400);

:root {
    font-size: 12px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    position: fixed;
    
    display: flex;

    background-color: #e5e5f7;
    background: linear-gradient(135deg, #bcb5b455 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #bcb5b4 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #bcb5b455 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #bcb5b4 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

header {
    width: 20%;
    height: auto;
    padding: 1rem 2rem;

    position: sticky;
}

header div:first-child {
    margin: 0rem 2rem;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

img.logo {
    height: 20rem;
}

.navButtons {
    font-size: 3.5rem;
    height: 5rem;

    font-family: 'Aclonica', sans-serif;
    background-color: black;
    color: white;
    outline: none;
    border: none;

    cursor: pointer;
}

.bodyPage {
    display: none;

    overflow: scroll;

    flex-direction: column;
    align-items: center;
    gap: 3rem;

    padding: 3rem 0;
    width: 100%;
    height: 100%;

    font-size: 2rem;
    line-height: 1.75;
    text-indent: 2rem;
    text-align: justify;

    font-family: 'Benne', serif;

    background-color: aliceblue;
}

.bodyPage.visible {
    display: flex;
}

.bodyPage h1 {
    font-size: 8rem;
    margin-top: 2rem;
    line-height: 70%;

    text-indent: 0;
    text-align: center;

    font-family: 'Aclonica', sans-serif;
}

.bodyPage p {
    padding: 0 6rem;
}

img.hero {
    height: 50%;
    width: 100%;

    object-fit: cover;
    object-position: 0 80%;
    filter: contrast(90%) saturate(80%) brightness(105%);
    box-shadow: 0 0.75rem 0.5rem rgba(0, 0, 0, 0.20);

    user-select: none;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.menu .core {
    font-size: 80%;
}

span.emp {
    font-style: italic;
}

span.str {
    font-style: bold;
}